*{
 padding:0;
 margin:1rem 5px;

}
h1{
 font-size: 4rem;
 border:1px solid green;
}
body{
 padding:1rem;
}
blockquote{
 border-left:5px solid burlywood;
 padding-left: 1rem;
 background-color: whitesmoke;
 margin-bottom: 1rem;
}
p,li,code,blockquote{
 font-size: 3rem;
}
code{
 color:red;
}
em{

 color:green;
}

.js{
 border:1px dashed blue;
}

.tab-index-1{

 color: blue;
}

.im{
 color:blue;
}
.cf{
 color:red;
}
.at,.op{
 color:brown;
}
.st{
 color:chocolate;
}